@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital@1&display=swap');
.acercade{
    height: 383px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 242, 253);
    font-weight: bold;
    border-radius: 15px;
}
.acercade_contenedor{
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 15px;

}
.acercade_firma{
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}
@media (max-width:480px) {
    .acercade{       
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 15px 5px;
    }
    .acercade_titulo{
      margin: 10px 0;
    }
    .acercade_contenedor{
        width: 100%;
        padding: 9px;
        height: auto;

    }
    .acercade_firma{
        margin: 15px 0;
        font-family: 'Great Vibes', cursive;
    }

}