.foter{
    background-color: #b7bac386;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.footer_contenedor{
    display: flex;
}
.footer_contenedor-img{
    width: auto;

}
.footer_contenedor_contacto{
    background-color: #e4e4e4;
    display: grid;
    width: 48%;
    padding: 10px 10px;
}
.footer_contenedor_contacto-h{
    padding: 10px 0;
}
.footer_contenedor_contacto-p{
    text-align: justify;
}
.footer_contenedor_input{
    margin-bottom: 10px;
    padding: 5px;
}
.footer_contenedor_textArea{
        margin-bottom: 10px;
        resize: none;
        padding: 9px;
        font-size: large;

}
.footer_contenedor_boton{
    display: block;
    width: 170px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    height: 35px;
}
.foter_detalle{
    padding: 5px 0 5px 5px;
    font-size:16px;
}
@media (max-width: 820px) {
    .foter{
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer_contenedor-img{
        display: none;
    }
    .footer_contenedor{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer_contenedor_contacto{
        width: 85%;
    }
}
@media (max-width:480px) {
    .footer{
        overflow: hidden;
    }
    .footer_contenedo{
        height: 700px;
        overflow: hidden;

    }
    .footer_contenedor_contacto{
        background-color: #e4e4e4;
        display: grid;
        height: auto;
        padding: 10px 10px;
    }
    .footer_contenedor_contacto{
        height: 30em;
    }
    .footer_contenedor_textArea{
      height: 100px;
    }
}