header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color:#4101d6f6;
overflow: hidden;
position: fixed;
top: 0;
z-index: 10;
}
.logo{
    display: flex;
    align-items: center;
    width: 30%;
    padding-left: 08%;
}
.configA{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
.configA:hover{
    transform: scale(1.1);
}
.imgLogo{
    width: 45px;
    height: 35px;
    padding: 0 5px;
    object-fit: cover;
    border-radius: 50%;
}
.imgLogo:hover{
  cursor: pointer;
  transform: scale(1.2);
}
nav{
    width: 70%;
}
nav,ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}nav,ul,li{
    list-style: none;
    padding: 0 10px;
    
}

nav,li a{
    text-decoration: none;
    color: #f9faf5;
    transition: 0.3s;
    
}
.header_a{
    font-size: large;
}
.header_a:hover{
    color:black;
    font-weight: bolder;
    text-decoration:underline;
}

@media (max-width: 820px){
    header{
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 100%;
    
    }
    .logo{
        display: flex;
        align-items: center;
        width: 40%;
        padding-left: 02%;

    }
    nav{
        width: 60%;
        margin: 0;
        padding: 0;

    }
    .nav-correo{
        display: none;
    } 
    .header_a{
        font-size:16px;
    }
}
@media (max-width:480px){
    nav ul{
        display: none;
    }
    .nav-correo{
        display: unset;
    } 
    header{
        display: flex;
        justify-content: space-around;
        width: 100%;
        overflow: hidden;
    
    }
    span{
        color: white;
    }
    .container_h2{
        color: rgb(4, 4, 48);
    }
    .logo{
        display: flex;
        align-items: center;
        width: 20%;
        padding-left: 02px;
    }
    .imgLogo{
        width: 35px;
        height: 30px;
        padding: 0 2px;
    }
}
