header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 1136px;
    background-color:#6e77ee;
overflow: hidden;
}
.logo{
    display: flex;
    align-items: center;
    width: 30%;
    padding-left: 08%;
}
.imgLogo{
    width: 30px;
    height: 30px;
    padding: 0 5px;
}
nav{
    width: 70%;
}
nav,ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}nav,ul,li{
    list-style: none;
    padding: 0 10px;
    
}

nav,li a{
    text-decoration: none;
    color: #f9faf5;
    transition: 0.4s;
    
}
.header_a:hover{
    color: rgb(38, 0, 255);
}

@media (max-width: 768px){
    header{
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 100%;
    
    }
    .logo{
        display: flex;
        align-items: center;
        width: 50%;
        padding-left: 08%;
    }
    nav{
        width: 50%;

    }
    nav ul{
        display: none;
    } 
}
@media (max-width:400px){
    header{
        display: flex;
        justify-content: space-around;
        width: 100%;
        overflow: hidden;
    
    }
    span{
        color: white;
    }
    .container_h2{
        color: rgb(4, 4, 48);
    }
    .logo{
        display: flex;
        align-items: center;
        width: 20%;
        padding-left: 02px;
    }
    .imgLogo{
        width: 25px;
        height: 30px;
        padding: 0 2px;
    }
}