.section1{
    height: 368px;
    margin: 35px 0;
    display: flex;
    /* background-color: #f9faf500; */
    overflow: hidden;
    margin-top: 100px;
    z-index: 1;
}
.section1_contenedor{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #e4e4e4a1;
    border-radius: 15px;
    font-weight: bold;
}
.section1_contenedor_h1{
    padding: 15px 0;
}
.section1_contenedor_h3{
    margin: 5px 0;
    text-align: center;
}
.section_a{
  color: black;
}
.section_a:hover{
  transform: scale(1.05);
}
.section1_contenedor_p{
    padding: 5px 15px;
    text-align: justify;
    
}
.section1_contenedor_imagen{
    display: flex;
  align-items: center;
}
.imgCirculo{
    margin: 0 10px;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 1px solid grey;
}
.fleca1{
color: black;
}
.section1_contenedor_vinculos1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    align-items: center;
}
@media (max-width: 820px){
    .section1{
        height: 368px;
        margin: 20px 0;
        padding-top: 40px;
    }
    .section1_contenedor_vinculos1{
        width: 90%;
    }
    .fleca1{
        color: black;
        width: 19px;
    }
    .imgCirculo{
        width: 280px;
    }
}
@media (max-width: 480px){
    .section1{
        margin: 35px 0;
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
        height: auto;
        padding-top: 30px;

    }
    .section1_contenedor_imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
    }
    .section1_contenedor{
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: center;
        justify-content: center;
        padding: 25px;
    
    }
    .section1_contenedor_h3{
        text-align: center;
    }
    .imgCirculo{
        width: 150px;
        
    }
}