.skills{
  height: auto;
  width: 100%;
  background-color: #fefefe;
}
.skills_contendor1{
  padding: 5px 0;
  overflow: hidden;
}
.skills_contenedor_h2{
  text-align: center;
  padding: 10px 0;
}
.skills_contenedor_iconos{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px 0;
  gap: 1em;
}
.skill_contenedor_icon{
  background-position: center;
  background-repeat: no-repeat;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 2px 5px ;
}
/* imagenes de box */
.css{
  background-image: url(../imagenes/skill/css.png);
}
.html{
  background-image: url(../imagenes/skill/html.png);
}
.react{
  background-image: url(../imagenes/skill/react.png);
}
.javascrip{
  background-image: url(../imagenes/skill/javascrip.png);
}
.php{
  background-image: url(../imagenes/skill/php.png);
}

/* imagens de hobies */
.aprender{
  background-color: #fefefe;
  background-size: 50px 50px;
  background-image: url(../imagenes/hobbies/aprender.png);
}
.baloncesto{
  background-size: 50px 50px;
  background-color: #fefefe;
  background-image: url(../imagenes/hobbies/baloncesto.jpg);
}
.videojuegos{
  background-size: 50px 50px;
  background-color: #fefefe;
  background-image: url(../imagenes/hobbies/videojuegos.jpg);
}
.comida{
  background-size: 50px 50px;
  background-color: #fefefe;
  background-image: url(../imagenes/hobbies/comida.png);
}
.viajar{
  background-size: 50px 50px;
  background-color: #fefefe;
  background-image: url(../imagenes/hobbies/viajar.jpg);
}

@media (max-width:768px) {
  .skill_contenedor_icon{
    width: 120px;
  height: 120px;
  }
}


@media (max-width:400px) {
  .skill_contenedor_icon{
    width: 120px;
  height: 120px;
  }
}