
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    justify-content: center;
    background-color: white;
}
section{
    width: 1136px;
    margin: 35px 0;
    background-color: aqua;
    
}
